* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.global-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    font-family: "Nosifer", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 0;
    padding: 30px;
    background-color: #08d189;
    color: #0b6545;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 5px solid rgba(248, 41, 4, 0.654);
    animation-name: live;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}

.container .cpc-logo {
    width: 100px;
    padding: 10px;
    position: absolute;
    bottom: 3%;
    left: 5%;
}

.rounds {
    width: 100%;
    height: 100%;
    padding: 10px;
    background-color: #272727;
    display: flex;
    flex-direction: column;
}

.rounds-header {
    letter-spacing: 10px;
    color: #08d189;
    text-align: center;
}

.links {
    display: flex;
    justify-content: center;
}

.links a {
    padding: 10px;
    margin: 0 20px;
    text-transform: uppercase;
}

@keyframes live {
    from {border-color: rgba(255, 0, 0, 0.631);}
    to {border-color: #272727;}
}
